@use './tokens/sys-color';
@use './tokens/sys-typescale';

$typescale: sys-typescale.values();

:root {
  --md-ref-typeface-brand: 'Barlow', sans-serif;
  --md-ref-typeface-plain: 'Familjen Grotesk', sans-serif;
  --md-icon-font: 'Material Symbols Sharp';
  // --md-sys-shape-corner-extra-small: 4px
  // --md-sys-shape-corner-small:       8px   +4
  // --md-sys-shape-corner-medium:      12px  +4
  // --md-sys-shape-corner-large:       16px  +4
  // --md-sys-shape-corner-extra-large: 28px  +12

  --md-sys-shape-corner-extra-small: 2px;
  --md-sys-shape-corner-small: 4px;
  --md-sys-shape-corner-medium: 6px;
  --md-sys-shape-corner-large: 8px;
  --md-sys-shape-corner-extra-large: 14px;

  @each $key, $value in $typescale {
    --md-sys-typescale-#{$key}: #{$value};
  }
}

$values-light: sys-color.values-light();

@media (prefers-color-scheme: light) {
  :root {
    @each $key, $color in $values-light {
      --md-sys-color-#{$key}: #{$color};
    }
  }
}

$values-dark: sys-color.values-dark();

@media (prefers-color-scheme: dark) {
  :root {
    @each $key, $color in $values-dark {
      --md-sys-color-#{$key}: #{$color};
    }
  }
}
